
<div class="fixed-top"> 
    <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">index</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/work">work</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">about</a>
        </li>
    </ul>
</div>

<div class="text-center flood">
    <div class="myName position-fixed top-50 start-50 translate-middle">
        <h1>Joe Giampaoli</h1> 
    </div>
</div>




<div class="container pb-5">

    
    <div class="row my-5 text-center pt-5">
        <div class=" col-sm blurb">
            <h2>I'm a graphic designer and web developer,</h2>
            <p>in Los Angeles CA.</p>
        </div>
    </div>

    <div class="row pb-5">
        <ul class="list-inline text-center">
            <li class="list-inline-item py-1"><a target="_blank" href="https://github.com/joe-zu"><button type="button" class="btn btn-outline-dark">Github</button></a></li>
            <li class="list-inline-item py-1"><a target="_blank" href="https://www.linkedin.com/in/joegiampaoli/"><button type="button" class="btn btn-outline-dark">LinkedIn</button></a></li>
            <li class="list-inline-item py-1"><a target="_blank" href="https://dribbble.com/Joezu"><button type="button" class="btn btn-outline-dark">Dribbble</button></a></li>
            <li class="list-inline-item py-1"><a target="_blank" href="https://www.instagram.com/joe.zu/"><button type="button" class="btn btn-outline-dark">Instagram</button></a></li>
        </ul>
    </div>
</div>
<div class="bg-color-1">
    <div class="container py-5">
        <div class="row py-4 text-center">
                <h2>Recent Work</h2>
        </div>
        <div class="row mb-5 pb-2 justify-content-center">
                {{!-- {{work}} --}}
                {{#each projects}}
                    {{#if new}}
                        {{> thumbs/thumbs}}
                    {{/if}}
                {{/each}}
                
        </div>
        <div class="row pb-5 text-center">
            <a href="/work" class="card-link projectLink">
                <button type="button" class="btn btn-light">More Work >></button>
            </a>
        </div>
    </div> 
</div>
<footer class="footer">
        <div class="container pt-5">
            <div class="row py-5">    
                <ul class="list-inline text-center">
                    <li class="list-inline-item">Copyright Joseph Giampaoli 2021 ©</li>
                </ul>
                <ul class="list-inline text-center">
                    <li class="list-inline-item"><a target="_blank" href="https://github.com/joe-zu">index</a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://github.com/joe-zu">work</a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://github.com/joe-zu">about</a></li>
                </ul>
                <ul class="list-inline text-center">
                     <li class="list-inline-item"><a target="_blank" href="https://github.com/joe-zu">github</a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://github.com/joe-zu">LinkedIn</a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://github.com/joe-zu">Dribbble</a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://github.com/joe-zu">Instagram</a></li>
                </ul>
            </div>
        </div>
</footer>