

<ul class="nav nav-pills justify-content-center fixed-top">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/">index</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/work">work</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about">about</a>
  </li>
</ul>

<div class="container py-4">

    
    <div class="row my-5">
            <h4>work</h4>
    </div>
    <div class="row my-5">
            {{!-- {{work}} --}}
            {{#each projects}}
                    {{> thumbs/thumbs}}
            {{/each}}
    </div>



{{!-- /container --}}
</div> 

<footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <ul>
                        <li>Copyright Joseph Giampaoli 2020 (c)</li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul>
                        <li><span><a href=" ">work</a></span></li>
                        <li><span><a href=" ">about</a></span></li>
                    </ul>
                </div>

            </div>
        </div>
</footer>